server.log 
pom.xml 
*jar 
/lib/ 
/classes/ 
/out/ 
/target/ 
.lein-deps-sum 
.lein-repl-history 
.lein-plugins/ 
.repl 
.nrepl-port 
.cljs_rhino_repl/ 
.sass-cache/ 
.idea/ 
resources/public/js/ 
.joker 
.DS_Store
/dev
